doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="description", content=description )
        link(rel="stylesheet", href="/css/style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Martel:wght@200;400;800&family=Raleway+Dots&display=swap", rel="stylesheet")
    body.responsive-padding.flex.fd-c
        header.flex.jc-sb.ai-c
            .logo
                a(href="/")
                    strong TPI
            div.flex.fd-c.ai-c
                span ◐ 
            nav
                ul.flex.reset
                    li
                        a.btn-secondary.padding.borderius(href="/submit") Submit your idea