doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        meta(name="description", content=description )
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap")
    body.responsive-padding.dark-mode.flex.fd-c
        header.flex.jc-sb.ai-c.border-b
            .logo
                a(href="/")
                    strong API
            div.flex.fd-c.ai-c
                span ◐ 
            nav
                ul.flex.reset
                    for idea, i in collections.idea
                        li
                            a(href=idea.url) #{idea.data.title}