include head.pug
main.flex.ai-c
    .hero.grid.ai-c.gap
        .hero-text 
            span
                strong.primary Astounding Project Ideas
            h1 Think Share Create and Inspire others
            p Looking for an idea to train your skills ? <strong>Astounding Project Ideas</strong> is a community driven platform that helps <strong>designers</strong>, <strong>developpers</strong> and <strong>creators</strong> to elevate their craft.
            a.padding.borderius(href="/ideas") Pick an idea
        .hero-image.flex
            img(src="/images/uploads/hero.png")