include head.pug
body.responsive-padding.grid.grid-body-rows.dark-mode
    header.flex.jc-sb.ai-c.border-b.padding
        .logo
            a(href="/")
                strong API
        div.flex.fd-c.ai-c
            span ◐ 
    main.flex.ai-c
        .hero.grid.ai-c.gap
            .hero-text 
                strong.primary Astounding Project Ideas
                h1 Think Share Create and Inspire others
                p Looking for an idea to train your skills ? <strong>Astounding Project Ideas</strong> is a community driven platform that helps <strong>designers</strong>, <strong>developpers</strong> and <strong>creators</strong> to elevate their craft.
                a.padding.borderius(href="/ideas") Pick an idea
            .hero-image.flex
                img(src="/images/uploads/hero.png")