doctype html
html(lang="en")
    include ../partials/head.pug
    include ../partials/body.pug
        include ../partials/header.pug
        main.flex.ai-c.jc-c.barba-container(data-barba="container" data-barba-namespace=title)
            .hero.flex.ai-c.gap.animate-fade-up
                .hero__content.flex.fd-c.ai-c.jc-c
                    small.hero__upperline
                        strong.primary Terrible Project Ideas
                    h1.subheader The best idea for your next project is here!
                    p.subheader__text Terrible Project Ideas is a unique and fun way to build projects that will help you improve your skills. We provide bad project ideas so that you can let your creativity flow. The idea? Be bad to be good!
                    a.padding.borderius.bg-primary.hover-clickable(href="/ideas") Pick an idea
                .hero__image.grid
                    //- include ../partials/bulb.pug


        include ../partials/footer.pug 
    include ../partials/scripts.pug
        