include head.pug
main.flex.ai-c
    .hero.grid.ai-c.gap
        .hero-text.flex.fd-c
            span
                strong.opaque-5.primary Terrible Project Ideas
            h1 Think Share Create and Inspire others
            p Looking for an idea to train your skills ? <strong>Terrible Project Ideas</strong> is a community driven platform that helps <strong>designers</strong>, <strong>developpers</strong> and <strong>creators</strong> to elevate their craft.
            a.padding.borderius.bg-primary(href="/ideas") Pick an idea
        .hero-image.grid
            img(src="/images/uploads/hero.png")
            span.watermark(data-watermark="TPI") 