doctype html
html(lang="en")
    include ../partials/head.pug
    include ../partials/body.pug
        include ../partials/header.pug
        main.barba-container(data-barba="container" data-barba-namespace=title)
            h1 #{title}
            p #{description}
            form(netlify).animate-fade-up
                fieldset
                    legend General Info
                    label.flex.fd-c(for="subject")
                        span Subject
                        input#subject(type="text", name="subject")
                    label.flex.fd-c(for="subject")
                        span username
                        input#user(type="text", name="user")
                fieldset
                    legend Project Details
                    label.flex.fd-c(for="subject")
                        span Description
                        textarea#description(name="description", cols="30", rows="10") 
                    
                button.btn-secondary.padding-m.margin-m.margin-y(type="submit") Submit
        include ../partials/footer.pug
    include ../partials/scripts.pug
    