@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/IBM/IBMPlexSans-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"), url("../fonts/IBM/IBMPlexSans-SemiBold-Latin1.woff2") format("woff2");
}


@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 200;
    src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"), url("../fonts/IBM/IBMPlexSans-ExtraLight-Latin1.woff2") format("woff2");
}

@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: local("IBM Plex Serif"), local("IBMPlexSerif"), url("../fonts/IBM/IBMPlexSerif-Regular-Latin1.woff2") format("woff2");
    unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-00A3, U+00A4-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2013-2014, U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2039-203A, U+2044, U+2074, U+20AC, U+2122, U+2212, U+FB01-FB02;
}

@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    src: local("IBM Plex Serif SemiBold"), local("IBMPlexSerif-SemiBold"), url("../fonts/IBM/IBMPlexSerif-SemiBold-Latin1.woff2") format("woff2");
}


html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;
}

:root {
    --color-dark: hsl(228, 19%, 11%);
    --color-light: hsl(0, 19%, 90%);
    --color-dark-accent: hsl(228, 19%, 13%);
    --color-light-accent: hsl(0, 19%, 89%);
    --color-primary: hsl(37, 98%, 53%);
    --font-body: 'IBM Plex Sans', sans-serif;
    --font-headings: 'IBM Plex Sans', sans-serif;
    /* --font-headings: 'IBM Plex Serif', serif; */
    --background: var(--color-light);
    --color-loader: #7D4FFA;
    --foreground: var(--color-dark);
    --toggle-size: clamp(2em, 3vw, 15em);
}

body {

    background-color: var(--background);
    color: var(--foreground);

    /* padding-left:var(--paddingSide);
    padding-right: var(--paddingSide); */
    font-family: var(--font-body);
    min-height: 100vh;
    margin: auto;
}

body.theme-dark{
    --color-accent: var(--color-dark-accent);
    --color-anti-accent: var(--color-light-accent);
}
body.theme-light{
    --color-accent: var(--color-light-accent);
    --color-anti-accent: var(--color-dark-accent);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-headings);
    font-weight: bold;

}

.responsive-width {
    width: clamp(10em, 100%, 60em);
}


::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
    border: 1px solid var(--foreground);
    border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--foreground);
    border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--foreground);
}

.responsive-padding {
    padding: 0 clamp(1em, 10vw, 15em);
}

/* .dark-mode {
    --background: var(--color-dark);
    --foreground: var(--color-light);
}

.light {
    background-color: var(--color-light);
    color: var(--color-dark);
} */

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flex {
    display: flex;
}

.flex.jc-sb {
    justify-content: space-between;
}

.fg-1{
    flex-grow: 1;

}
.ai-c {
    align-items: center;
}

.jc-c {
    justify-content: center;
}

.flex.fd-c {
    flex-direction: column;
}

.gap {
    gap: 1em;
}
.gap-m {
    gap: 1.5em;
}

ul.reset {
    list-style-type: none;
    padding: 0;
    /* margin-left: 0; */
}

a {
    text-decoration: none;
    padding: 0 0.5em;
    color: var(--color-foreground);
    font-weight: bold;
}

.no-padding {
    padding: 0;
}

.no-overflow {
    overflow: hidden;
}

.no-overflow-x {
    overflow-x: hidden;
}

.no-overflow-y {
    overflow-y: hidden;
}

.border-bottom {
    border-bottom: 1px solid var(--foreground);
}
.border-top{
    border-top: 1px solid var(--foreground);
}

.thumbnail {
    width: clamp(5em, 100%, 20em);

}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.padding {
    padding: 0.5em;
}
.padding-m{
    padding: 1em;

}
.padding-y{
    padding-left: 0;
    padding-right: 0;
}
.padding-x{
    padding-top: 0;
    padding-bottom: 0;
    
}
.margin {
    margin: 0.5em;
}
.margin-m{
    margin: 1em;

}
.margin-y{
    margin-left: 0;
    margin-right: 0;
}
.margin-x{
    margin-top: 0;
    margin-bottom: 0;
    
}

.borderius {
    border-radius: 5px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.responsive-grid-m {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.responsive-grid-l {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}

.grid {
    display: grid;
}

.opaque-5 {
    opacity: 0.5;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--foreground);
}

.btn-secondary {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.primary {
    color: var(--color-primary);
    fill: var(--color-primary);
}

.bg-primary {
    background-color: var(--color-primary);
}
.bg-accent {
    background-color: var(--color-accent);
}

img, svg {
    max-width: 100%;
}

img[width] {
    width: auto;
    /* Defer to max-width */
}

img[width][height] {
    height: auto;
    /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
    width: 100%;
    height: auto;
    max-width: none;
}

/* ------------------------------------------------------------------------------ HERO */
.hero__content {
    height: 90vh;
    /* grid-template-columns: 1fr; */
}

.hero__image svg {
    /* background-image: url("/images/uploads/hero.png"); */

    /* width: 90%; */
    
    height: clamp(15em, 35vw, 45em);
    margin: auto;
    margin-top: -6em;
    /* grid-column: 1/4; */
    /* grid-row: 1/4; */
    /* height: 100%; */
    /* margin-left: auto; */
}

.hero .watermark {
    grid-column: 2/4;
    grid-row: 3/4;
    font-weight: bold;
    position: relative;
}

.hero .watermark::before {
    content: attr(data-watermark);
    position: absolute;
    font-size: clamp(2em, 20vw, 20em);
    line-height: 0.5;
    top: 0;
    left: 0;
    opacity: 0.2;
    color: var(--foreground);
    pointer-events: none;
    /* font-size: 24em; */
}

/* .hero-image { */
/* grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-rows: 1fr 1fr 1fr; */
/* overflow: hidden; */

/* } */

.grid-body-rows {
    grid-template-rows: auto 1fr;

}

.hero h1.subheader {
    font-size: clamp(1.5em, 4vw, 3em);
    font-weight: bold;
    font-family: var(--font-headings);

}

/* .hero .hero__upperline { */

/* font-size: clamp(0.8em, 1.5vw, 1em); */
/* } */

.hero p.subheader__text {

    font-size: clamp(0.9em, 1.6vw, 1.5em);
    font-family: var(--font-body);
    line-height: 1.5;
    /* max-width: 70ch; */
    /* opacity: 0.8; */
    /* font-weight: lighter; */
}

main {
    flex: 2 1 auto;
}

.hero a {
    /* background-color: var(--color-primary); */
    /* color: var(--color-primary); */
    width: max-content;
    font-size: clamp(1em, 1.6vw, 1.5em);
    padding: 0.5em 2em;
    color: var(--color-dark);
}

/* @media screen and (max-width:50em) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-image {
        grid-row-start: 1;
    }
} */

/* ------------------------------------------------------------------------------ HERO */




.toggle {
    display: block;
    height: calc(var(--toggle-size)/2);
    width: var(--toggle-size);
    border-radius: calc(var(--toggle-size)/2);
    margin: auto;
    background-color: var(--background);
    cursor: pointer;
    border: 2px solid var(--foreground);
    position: relative;
    transition: transform 0.3s ease-out;

}

.toggle:hover {
    transform: scale(1.05);
}

.toggle-input,
.toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.toggle-input {
    display: none;

}

.toggle-input:checked~.ball {
    transform: translateX(calc(var(--toggle-size)/2));
    box-shadow: none;
    background-color: var(--foreground);

}

.ball {
    width: calc(var(--toggle-size)* 0.4);
    height: calc(var(--toggle-size)* 0.4);
    border-radius: 50%;
    transform: translateX(calc(var(--toggle-size)* 0.1));
    margin: calc(var(--toggle-size)* 0.05);
    /*   background-color: var(--background); */
    box-shadow: calc(var(--toggle-size)* -0.1) 0 0 0 var(--foreground);
    position: absolute;
    transition: transform .3s;
}

.floating {
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: none !important;
}

@keyframes floating {
    

    50% {
        transform: translate(0, 1em);
    }


}


/* Type scale */
h1 {
    /* margin-top: 0; */
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.707rem;
}


.card{
    position: relative;
}

.card h2 {
    font-family: var(--font-body);
}

.card__meta {
    text-transform: uppercase;
    letter-spacing: .2em;
    word-spacing: -.25em;
    margin-top: auto;
    color: var(--color-anti-accent);
}

.card a::after{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Logo */

.logo svg path{
    fill:var(--foreground)
}


/* Ideas - New Idea */
li.new-idea{
    border: 2px dashed var(--foreground);
}



/* Footer */

footer{
    margin-top:5em
}


.bg-boiler{
    background-image: linear-gradient(235deg, var(--background) 3%, var(--color-accent) 42%, var(--background) 98%);
    position: relative;
    overflow: hidden;
}

.bg-boiler::after{
    content: "Terrible Project Idea 💡";
    position: absolute;
    color: var(--color-anti-accent);
    z-index: 2;
    opacity: 0.8;
    line-height: 1.5;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
}


/* Barba */


.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: var(--foreground);
    width: 0%;
    height: 100%;
    display: grid;
    place-items: center;
}

.loading-screen img{
    transform: rotateY(0.5turn);
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}