html, body{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    /* font-size: 62.5%; */
}

html{
    overflow-y: hidden;
}

:root{
    --color-dark: rgb(33, 40, 41);
    --color-light: rgb(243, 244, 244);
    --color-primary: rgb(248, 117, 4);
    --font-body: 'Martel', serif;
--font-headings: 'Raleway Dots', cursive;

    
}

body{
    --background: var(--color-light) ;
    --foreground: var(--color-dark);
    background-color: var(--background);
    color: var(--foreground);
    /* padding-left:var(--paddingSide);
    padding-right: var(--paddingSide); */
    min-height: 100vh;
    margin: auto;
}

.responsive-width{
    width: clamp(10em, 100% , 60em);


}
.responsive-padding{
    padding: 0 clamp(1em, 10vw , 15em);



}

.dark-mode{
    --background: var(--color-dark) ;
    --foreground: var(--color-light);
}
.light{
    background-color: var(--color-light) ;
    color: var(--color-dark);
}

.flex{
    display: flex;
}

.flex.jc-sb{
    justify-content: space-between;
}
.ai-c{align-items: center;}
.jc-c{justify-content: center;}

.flex.fd-c {flex-direction: column;}
.gap{gap: 1em;}

ul.reset{
    list-style-type: none;
    padding: 0;
    /* margin-left: 0; */
}

a{
    text-decoration: none;
    padding: 0 0.5em;
    color: var(--color-primary);
    font-weight: bold;
}

.no-padding{
    padding: 0;
}

.no-overflow{
    overflow: hidden;
}
.no-overflow-x{
    overflow-x: hidden;
}
.no-overflow-y{
    overflow-y: hidden;
}
.border-b{
    border-bottom: 1px solid var(--foreground);
    

}

.thumbnail{
    width: clamp(5em, 100% , 20em);

}

.shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.padding{
    padding: 0.5em;
}

.borderius{
    border-radius: 5px;
}

.responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.grid{
    display: grid;
}

.opaque-5{
    opacity: 0.5;
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--foreground);
}

.btn-secondary{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.primary{
    color: var(--color-primary);
}

.bg-primary{
    background-color: var(--color-primary);
}

/* ------------------------------------------------------------------------------ HERO */
.hero{
    grid-template-columns: 3fr 4fr;
}
.hero-image img{
    /* background-image: url("/images/uploads/hero.png"); */

    /* width: 90%; */
    height: clamp(15em ,35vw, 45em);
    grid-column: 1/4;
    grid-row: 1/4;
    /* height: 100%; */
    /* margin-left: auto; */
}

.hero .watermark{
    grid-column: 2/4;
    grid-row: 3/4;
    font-weight: bold;
    position: relative;
}
.hero .watermark::before{
    content: attr(data-watermark);
    position: absolute;
    font-size: clamp(2em,30vw,20em);
    line-height: 0.5;
    top: 0;
    left: 0;
    opacity: 0.2;
    color: var(--foreground);
    pointer-events: none;
    /* font-size: 24em; */
}
.hero-image{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* overflow: hidden; */
    
}
.grid-body-rows{
    grid-template-rows: auto 1fr ;

}
.hero h1{
    font-size: clamp(1em, 4vw,3em);
    font-weight: 400;
    font-family: var(--font-headings);
    
}

.hero span{
    
    font-size: clamp(0.8em, 1.5vw,1em);
}
.hero p{
    
    font-size: clamp(0.9em, 1.6vw,1.5em);
    font-family: var(--font-body);
    /* opacity: 0.8; */
    font-weight: lighter;
}

main{
    flex: 2 1 auto;
}
.hero a{
    /* background-color: var(--color-primary); */
    /* color: var(--color-primary); */
    width: max-content;
    font-size: clamp(1em, 1.6vw,1.5em);
    padding: 0.5em 2em;
    color: var(--color-dark);
}

@media screen and (max-width:50em ) {
    .hero {
      grid-template-columns: 1fr;
    }
    .hero-image{
        grid-row-start: 1;
    }
  }
/* ------------------------------------------------------------------------------ HERO */