footer.flex.padding-m.jc-sb.border-top
    div © 2021 #{meta.site_name}
    div.flex.fd-c.ai-c
        <label class="toggle">
            <input class="toggle-input" type="checkbox" name="" id="">
            <div class="ball"></div>
        </label>