header.flex.jc-sb.ai-c.padding
    .logo
        a(href="/")
            span.visually-hidden #{meta.site_name}
            include logoSVG.pug


    
        //- span â— 
    nav
        ul.flex.reset
            li
                a.btn-tertiary.primary.padding.borderius(href="/submit") Submit your idea
.load-container
    .loading-screen
        <svg class="rotating" width="40" height="40" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M73.053 47.2167C71.7501 36.5858 63.3598 28.2167 52.7257 26.9407C51.81 26.8362 50.8893 26.7839 49.9677 26.7837C40.5696 26.7981 32.1075 32.4778 28.5337 41.1698C24.9598 49.8618 26.9796 59.8513 33.6495 66.4722C37.1964 69.8689 39.2276 74.5497 39.2856 79.4605V82.1427H60.7141V79.4466C60.7303 74.6288 62.6903 70.0216 66.1499 66.6685C71.3753 61.6269 73.9311 54.4251 73.0528 47.2175V47.2167H73.053Z" fill="#FCA311"/>
            <path d="M50.0002 99.9997C52.2697 99.9972 54.2922 98.5671 55.0514 96.4282H44.9492C45.7082 98.5671 47.7307 99.9972 50.0002 99.9997Z" fill="#FCA311"/>
            <path d="M41.0718 91.0716C41.0731 92.0573 41.8718 92.856 42.8575 92.8573H57.1433C58.129 92.856 58.9276 92.0573 58.929 91.0716V85.7144H41.0718V91.0716V91.0716Z" fill="#FCA311"/>
            <path d="M49.9997 16.0715C51.9722 16.0715 53.5712 14.4725 53.5712 12.5V3.57148C53.5712 1.59902 51.9722 0 49.9997 0C48.0272 0 46.4282 1.59902 46.4282 3.57148V12.5C46.4282 14.4725 48.0272 16.0715 49.9997 16.0715Z" fill="#FCA311"/>
            <path d="M19.8592 24.9102C21.2725 26.26 23.4971 26.26 24.9104 24.9102C25.5803 24.2404 25.9566 23.3318 25.9566 22.3846C25.9566 21.4373 25.5803 20.5287 24.9104 19.859L18.5965 13.5463C17.927 12.8764 17.0186 12.5 16.0715 12.5C15.1244 12.5 14.216 12.8764 13.5463 13.5463C12.8764 14.2158 12.5 15.1242 12.5 16.0715C12.5 17.0188 12.8764 17.927 13.5463 18.5967L19.8592 24.9102Z" fill="#FCA311"/>
            <path d="M16.0715 49.9997C16.0715 48.0272 14.4725 46.4282 12.5 46.4282H3.57148C1.5998 46.4302 0.00195312 48.028 0 49.9997C0.00195312 51.9714 1.5998 53.5692 3.57148 53.5712H12.5C14.4725 53.5712 16.0715 51.9722 16.0715 49.9997Z" fill="#FCA311"/>
            <path d="M23.3115 74.1603C22.0772 73.8304 20.7607 74.1849 19.859 75.0901L13.5463 81.4038C12.8764 82.0734 12.5 82.9818 12.5 83.929C12.5 84.8763 12.8764 85.7845 13.5463 86.4542C14.9592 87.804 17.1836 87.804 18.5965 86.4542L24.9102 80.1415C25.8152 79.2398 26.1699 77.9234 25.84 76.689C25.5102 75.4546 24.5459 74.4901 23.3115 74.1603Z" fill="#FCA311"/>
            <path d="M80.1406 75.0896C79.2389 74.1845 77.9225 73.8299 76.6881 74.1597C75.4537 74.4896 74.4897 75.4537 74.1598 76.6881C73.8299 77.9224 74.1844 79.2389 75.0897 80.1406L81.4033 86.4533C82.8162 87.8031 85.0406 87.8031 86.4535 86.4533C87.1235 85.7838 87.4998 84.8754 87.4998 83.9281C87.4998 82.9808 87.1235 82.0726 86.4535 81.4029L80.1406 75.0896Z" fill="#FCA311"/>
            <path d="M96.4282 46.4282H87.4997C85.5272 46.4282 83.9282 48.0272 83.9282 49.9997C83.9282 51.9722 85.5272 53.5712 87.4997 53.5712H96.4282C98.4007 53.5712 99.9997 51.9722 99.9997 49.9997C99.9997 48.0272 98.4007 46.4282 96.4282 46.4282Z" fill="#FCA311"/>
            <path d="M80.1411 24.9101L86.4538 18.5964C87.3559 17.6943 87.7083 16.3794 87.378 15.147C87.0477 13.9146 86.0852 12.9521 84.8528 12.6218C83.6204 12.2915 82.3055 12.6439 81.4034 13.546L75.0897 19.8587C74.4198 20.5284 74.0435 21.437 74.0435 22.3843C74.0435 23.3316 74.4198 24.2402 75.0897 24.9099C76.5032 26.2599 78.728 26.2599 80.1411 24.9101Z" fill="#FCA311"/>
        </svg>
