header.flex.jc-sb.ai-c.padding
    .logo
        a(href="/")
            span.visually-hidden #{meta.site_name}
            include logoSVG.pug


    
        //- span â— 
    nav
        ul.flex.reset
            li
                a.btn-tertiary.primary.padding.borderius(href="/submit") Submit your idea
.load-container
    .loading-screen
        include logoSVG.pug
