header.flex.jc-sb.ai-c
    .logo
        a(href="/")
            strong TPI
    div.flex.fd-c.ai-c
        <label class="toggle">
            <input class="toggle-input" type="checkbox" name="" id="">
            <div class="ball"></div>
        </label>
        //- span â— 
    nav
        ul.flex.reset
            li
                a.btn-secondary.padding.borderius(href="/submit") Submit your idea